<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo-Ninja-Templates</title>
</head>

<body>
    <div class="form" style="width: 800px;height: 300px;display: flex;justify-content: space-evenly;margin: 0 auto;
    ">
        <form action="/process" method="post">
            {% csrf_token %}
            <h1 style="position: relative;left: 20px;">Add a Dojo</h1>
            <label>Name</label>
            <input type="text" name="name">
            <div><br>
                <label>city</label>
                <input type="text" name="city" style="position: relative;left: 13px;">
            </div>
            <div><br>
                <label>state</label>
                <input type="text" name="state" style="position: relative;left: 10px;">
            </div><br>
            <input type="submit" value="Add" style="position: relative;left: 45px;width: 55px;box-shadow: 3px 5px black;
            border: 2px solid black;">
        </form>
        <form action="/process" method="post">
            {% csrf_token %}
            <h1 style="position: relative;left: 25px;">Add a Ninja</h1>
            <label>First Name</label>
            <input type="text" name="first_name">
            <div><br>
                <label>Last Name</label>
                <input type="text" name="last_name">
            </div>
            <div><br>
                <label>Dojo</label>
                <select name="select-dojo" id="sel" style="width: 170px;position: relative;left: 37px;">
                    <option>hasan</option>
                    <option>jehad</option>
                    <option>mohammad</option>
                </select><br><br>
                <input type="submit" value="Add" style="position: relative;left: 75px;width: 55px;box-shadow: 3px 5px black;
                border: 2px solid black;">
            </div>
        </form>
    </div>
    <div class="show"
        style="width: 800px;height: 400px ;margin: 0 auto;display: flex;flex-direction: column;align-items: center;">
        <h1>All the Dojos</h1>
        <ul>
            {%for Dojo in all_the_Dojo %}
            <li>{{Dojo.name}}</li>
            <ul>
                {%for Ninja in all_the_Ninja%}
                {%if Ninja.dojo == Dojo%}
                <li>{{Ninja.first_name}} {{Ninja.last_name}}</li>
                {%endif%}
                {%endfor%}
            </ul>
            {%endfor%}
        </ul>
    </div>
</body>

</html>